.btn {
    display: inline-block;
    cursor: pointer;
    padding: 10px 24px;
    margin-left: auto;
    margin-right: auto;

    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;

    text-align: center;
    letter-spacing: 0.06em;

    background-color: var(--accent-color);
    color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;
            
    transition: background-color var(--duration) var(--timing-function), 
        box-shadow var(--duration) var(--timing-function);
    }
    .btn:hover, .btn:focus {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        background-color: var(--button-hero-back-color);
        outline-color: #FFFFFF;
    }