 :root {
     --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
     --duration: 250ms;

     --accent-color: #2196f3;
     --main-text-color: #757575;
     --main-sections-color: #ffffff;
     --main-icons-color: #AFB1B8;
     --title-text-color: #212121;
     --foothero-back-color: #2F303A;
     --background-main-color: #e5e5e5;
     --back-teamsection-color: #F5F4FA;
     --button-hero-back-color: #188CE8;

 }